<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>
<body ng-app = "registration">
	<div ng-controller = "sendData">
		Username: <br> <input type = "text" ng-model = "username"> <br>
		Password: <br> <input type = "password" ng-model = "pwd"> <br>
		Confirm password: <br> <input type = "password" ng-model = "cpwd"> <br>

		<button ng-click = "register()"> Register! </button>
	</div>

	<script src = "registrationui.js"> </script>
</body>
</html>